<div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="text-center add_top_10"><h2 id="login1"></h2> </div>
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Info box -->
        <!-- ============================================================== -->
        <div class="row">
          <!-- Column -->
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title m-b-5 mt-3 align-self-center">Nuevo Proyecto</h5>
                <div class="row">
                  <!-- End of product slider -->
                  <div class="col-lg-12 col-md-12">
                    <div class="row">
                      <div class="form-wrap form-wrap2 mt-4">
                        <form class="form-horizontal">
                          

                          <div class="clearfix"></div>
                          <div class="form-group m-b-15">
                            <div class="row m-0 m-b-20">
                              
                              <div class="col-sm-2 col-xs-6">
                                <label class="control-label text-primary font-14 m-b-10">Seccion</label>
                                <div>
                                  <select id="seccion" class="custom-select font-14 " data-style="btn-default btn-outline">
                                    <option  data-tokens="Category">@</option>
                                    <option data-tokens="Category 1">A</option>
                                    <option data-tokens="Category 2">B</option>
                                    <option>C</option>
                                    <option>D</option>
                                    <option>E</option>
                                    <option>F</option>
                                    <option>G</option>
                                    <option>R</option>
                                    <option>S</option>
                                    <option>W</option>
                                    </select>
                                </div>
                              </div>
                              <div class="col-sm-4 col-xs-12">
                                <label class="control-label text-primary font-14 m-b-5"><label class="control-label text-primary font-14 m-b-5">IDProyecto</label></label>
                                <div>
                                  <input id="idproyecto" class="form-control font-14"  placeholder="Valdez1">
                                </div>
                              </div>
                              
                            </div>
                          </div>
                          
                          <div class="clearfix"></div>
                          <div class="form-group m-b-15">
                            <div class="row m-0 m-b-20">
                              <div class="col-sm-6 col-xs-12">
                                <label class="control-label text-primary font-14 m-b-5"><label class="control-label text-primary font-14 m-b-5">Departamento</label></label>
                                <div>
                                  <select id="departamento" class="custom-select font-14 m-b-5" data-style="btn-default btn-outline">
                                    <option>Seleccione uno</option>
                                    <option>Guatemala</option>
                                    <option>Alta Verapaz</option>
                                    <option>Baja Verapaz</option>
                                    <option>Chimaltenango</option>
                                    <option>Chiquimula</option>
                                    <option>El Progreso</option>
                                    <option>Escuintla</option>
                                    <option>Huehuetenango</option>
                                    <option>Izabal</option>
                                    <option>Jalapa</option>
                                    <option>Jutiapa</option>
                                    <option>Peten</option>
                                    <option>Quetzaltenango</option>
                                    <option>Quiche</option>
                                    <option>Retalhuleu</option>
                                    <option>Sacatepequez</option>
                                    <option>San Marcos</option>
                                    <option>Santa Rosa</option>
                                    <option>Solola</option>
                                    <option>Suchitepequez</option>
                                    <option>Totonicapan</option>
                                    <option>Zacapa</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6 col-xs-12">
                                <label class="control-label text-primary font-14 m-b-5"><label class="control-label text-primary font-14 m-b-5">Municipios</label></label>
                                  <div>
                                    <input id="municipio" class="form-control font-14"  placeholder="Guatemala">
                                  </div>
                              </div>
                            </div>
                          </div>


                          <div class="form-group m-b-15">
                            <div class="row m-0 m-b-20">
                              
                              <div class="col-md-12 col-xs-12">
                                <label class="control-label text-primary font-14 m-b-5"><label class="control-label text-primary font-14 m-b-5">Dirección</label></label>
                                  <div>
                                    <input id="direccion" class="form-control font-14"  placeholder="25av. 12-55 zona 1.">
                                  </div>
                              </div>
                            </div>
                          </div>


                         <!--Separador-->
                          <div class="row b-t-1 p-t-15 m-t-30"> </div>
                         <!--////////-->


                         <div class="form-group m-b-15">
                          <div class="row m-0 m-b-20">
                            
                            <div class="col-md-12 col-xs-12">
                              <label class=" font-14 m-b-5"><label class="control-label font-18 m-b-5">Contacto</label></label>
                            </div>
                          </div>
                          </div>

                          <div class="clearfix"></div>
                          <div class="form-group m-b-15">
                            <div class="row m-0 m-b-20">
                              <div class="col-md-6 col-xs-12">
                                <label class="control-label text-primary font-14 m-b-5"><label class="control-label text-primary font-14 m-b-5">Representante</label></label>
                                  <div>
                                    <input id="representante" class="form-control font-14"  placeholder="Juan lopez ó JElIX, S.A">
                                  </div>
                              </div>
                              <div class="col-md-6 col-xs-12">
                                
                              </div>
                            </div>
                          </div>


                          <div class="clearfix"></div>
                          <div class="form-group m-b-15">
                            <div class="row m-0 m-b-20">
                              
                              <div class="col-md-6 col-xs-12">
                                <label class="control-label text-primary font-14 m-b-5"><label class="control-label text-primary font-14 m-b-5">Telefono</label></label>
                                  <div>
                                    <input id="telefono" class="form-control font-14"  placeholder="9876-4532">
                                  </div>
                              </div>

                              <div class="col-md-6 col-xs-12">
                                <label class="control-label text-primary font-14 m-b-5"><label class="control-label text-primary font-14 m-b-5">Correo Electronico</label></label>
                                  <div>
                                    <input id="correo2" class="form-control font-14"  placeholder="juan@ejemplo.com">
                                  </div>
                              </div>
                            </div>
                          </div>

                         
                          <div class="form-group row m-b-15">
                            <div class="col-sm-12">
                              <label class="col-12 p-t-0 m-b-5">Comentario</label>
                              <div class="col-12">
                                <textarea id="comentario" class="form-control textarea-lg"></textarea>
                              </div>
                            </div>
                          </div>

                          



                          <div class="form-group row m-l-0 m-b-10">
                            <div class="col-md-6 col-xs-12 m-b-10">
                              <div class="p-l-15 p-r-15">
                                
                              </div>
                            </div>
                            <div class="col-md-6  col-xs-12 text-right">
                              <div class="p-l-15 p-r-15">
                                <button type="button" class="btn waves-effect waves-light btn-rounded btn-success" onclick="proyectonuevo()">Crear</button>
                                <button type="button" class="btn waves-effect waves-light btn-rounded btn-success" onclick="test2()">test2</button>
                                <button type="button" class="btn btn-rounded waves-effect waves-light btn-outline-default" onclick="limpiarproyecto()">Cancelar</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>


                 
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->

      <div id="mensajetxt">
        
        

      </div>



      <div id="mensajes" class="invisible">
        
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="card-body p-b-0">
              
              <h5 class="card-title m-b-30  align-self-center">Master</h5>
              <div class="row m-0 m-b-20">
                <div class="col-sm-6 col-xs-6">
                  <div class="alert alert-info font-16">Clave:</div>    
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="alert alert-success  font-16"><div id="clavetext">--</div></div>    
                </div>
              </div>
  
              
              <div class="row m-0 m-b-40">
                <div class="col-sm-6 col-xs-6">
                  <div class="alert alert-info font-16">Contraseña:</div>    
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="alert alert-success  font-16"><div id="contraseñatext">--</div></div>    
                </div>
              </div>
  
              <div class="row m-t-30"></div>
  
            </div>
          </div>
        </div> 
        <div class="col-lg-2"></div>  
      </div> 

      <div class="row m-t-40"></div>

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="card-body p-b-0">
              
              <h5 class="card-title m-b-30  align-self-center">Visitante</h5>
              <div class="row m-0 m-b-20">
                <div class="col-sm-6 col-xs-6">
                  <div class="alert alert-info font-16">Clave:</div>    
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="alert alert-success  font-16"><div id="clavetextV">--</div></div>    
                </div>
              </div>
  
              
              <div class="row m-0 m-b-40">
                <div class="col-sm-6 col-xs-6">
                  <div class="alert alert-info font-16">Contraseña:</div>    
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="alert alert-success  font-16"><div id="contraseñatextV">--</div></div>    
                </div>
              </div>
  
              <div class="row m-t-30"></div>
  
            </div>
          </div>
        </div> 
        <div class="col-lg-2"></div>  
      </div> 
      
      <div class="row m-t-40"></div>

      </div>
      


     
      

      
    </div>




















<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Tasks</h1>
        </div>
        <div class="card-body">
            {{#if contacts}}
            <ul class="list-group">
                {{#each contacts}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{Datos.Nombres}}
                    {{Datos.Apellidos}} / 
                    {{Datos.Email}}
                    <a href="/delete-contact/{{Id}}" class="btn btn-danger">Delete</a>
                </li>
                {{/each}}
            </ul>
            {{else}}
                <p>No hay contactos aun.</p>
            {{/if}}
        </div>
        <div class="card-footer">
            <form action="/new-contact" method="POST">
                <div class="form-group">
                    <input type="text" name="firstname" placeholder="Firstname" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" placeholder="Lastname" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" placeholder="Phone" class="form-control">
                </div>
                <button class="btn btn-primary btn-block">
                    Add
                </button>
            </form>
        </div>
    </div>
</div>

